.avatar {
  height: 450px;
}

.introductionPage {
  padding-right: 16vw;
  padding-left: 16vw;
}

@media screen and (max-width: 630px) {
  .introductionPage {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
