:root {
  --primary: #ffe259;
  --secondary: rgba(83, 149, 187, 0.95);
  --tertiary: rgba(221, 221, 221, 0.95);
  --quaternary: rgba(44, 44, 44, 0.95);
  --dark: #3a3a3a;
  --light: #e6e6e6;
}

::selection {
  background: var(--primary);
}

body,
html {
  height: 100vh;
  background: url('../img/pattern.png');
  font-size: 18px;
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 1.8;
  color: var(--light);
}

h1 {
  color: var(--light);
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);

  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  padding: 0 25px;
  margin: 20px 0 80px;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px var(--light) solid;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.page {
  margin: 3vh 0;
  padding: 6vh 12vw 8vh;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.paper {
  background: #ece9e6 !important;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6) !important;
  background: linear-gradient(to right, #ffffff, #ece9e6) !important;
  padding: 1vh 1.5vw 2vh;
}

@media screen and (max-width: 900px) {
  .page {
    padding: 6vh 2vw;
  }

  .paper {
    margin: 0;
    padding: 2vh 2vw;
  }
}
