:root {
  --primary: rgba(129, 0, 0, 0.95);
  --secondary: rgba(83, 149, 187, 0.95);
  --tertiary: rgba(221, 221, 221, 0.95);
  --quaternary: rgba(44, 44, 44, 0.95);
  --dark: #3a3a3a;
  --light: #e6e6e6;
}

::selection {
  background: var(--primary);
}

body,
html {
  height: 100vh;
  padding: 0 5vw;
  background-color: #040404;
  background: url('../img/pattern.png') #040404;
  font-size: 18px;
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 1.8;
  color: var(--light);
}

h1 {
  color: var(--dark);
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Titillium Web', sans-serif;
  padding: 0 25px;
  margin: 20px 0 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px var(--light) solid;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.page {
  margin: 2vh 0;
  padding: 4vh 4vw;
  min-height: 100vh;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/*
.page:nth-child(even) {
  color: var(--dark);
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
}

.page:nth-child(odd) {
  background: #a73737;
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);
  background: linear-gradient(to right, #7a2828, #a73737);
}
*/

@media screen and (max-width: 900px) {
  body,
  html {
    padding: 0;
  }
  .page {
    /*none*/
  }
}
