.projectCard {
  min-height: 550px;
}

.thumbnail {
  margin: 0 auto 25px;
  display: block;
  width: 95%;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.MuiButton-containedPrimary {
  color: var(--dark) !important;
  background-color: var(--primary) !important;
}

a {
  text-decoration: none;
}

.description {
  margin-top: 15px !important;
}
