.skillsPage {
  padding-left: 9vw;
  padding-right: 9vw;
}

.big3 img {
  width: 350px !important;
  height: auto !important;
  margin-bottom: 40px !important;
}

.skillsPage img {
  height: 70px;
  margin-bottom: 20px;
}

.stackIcons {
  padding-top: 2vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  /* border-left: 3px solid var(--primary); */
}

@media screen and (max-width: 1280px) {
  .stackIcons {
    border-left: none;
  }

  .skillsPage {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
