.skillsPage {
  min-height: 60vh;
}

.big3 img {
  width: 350px !important;
  height: auto !important;
  margin-bottom: 40px !important;
}

.skillsPage img {
  height: 70px;
  margin-bottom: 20px;
}

.paper {
  background: #ece9e6 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1vh 1vw;
}
